<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="#">UrbanGlider</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Rent a Car</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav" id="vip" style="margin-left: 30%">
    <li class="nav-item">
      <ng-template [ngIf]="donationCounter >= 200" [ngIfElse]="none">
        <a class="nav-link" href="#">VIP</a>
      </ng-template>
      <ng-template #none>
        <p></p>
      </ng-template>
    </li>
    </ul>
    <div class="donate float-right"  ><span (click)="countDonations()" class="btn" style="" >Donate {{donationCounter}}€</span></div>
  </div>
</nav>
